{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false,
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  // "plugins": ["react"],
  "extends": ["prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["off"],
    "no-return-assign": ["off"]
  }
}
