.app__services {
  flex-direction: column;
}

.app__services h2 {
  text-transform: uppercase;
  font-weight: 700;
}

.app__services__headingText {
  text-align: center;
  margin: 20px 0 40px 0;
}

.app__services__servicesCard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.app__servicesCard {
  flex-direction: column;
  padding: 20px;
  background-color: var(--color-grey);
}

.app__servicesCard h3 {
  padding: 10px 0;
}

.app__servicesCard p {
  text-align: center;
  line-height: 24px;
}
