.app__team {
  background-color: var(--color-grey);
}

.app__team h2 {
  text-align: left;
}

.app__team-teamcardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin-top: 40px;
}

.app__teamCard {
  flex-direction: column;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  padding-bottom: 30px;
}

.app__teamCard img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.app__teamCard p {
  text-transform: capitalize;
  padding: 20px 0;
}

.app__teamCard-socialsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social-icons {
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
  color: var(--color-pink);
  background: transparent;
  border: 1px solid #efefef;
  transition: all 0.3s;
  -webkit-transition: all 0.4s;
  cursor: pointer;
}

.social-icons:hover {
  color: var(--color-white);
  background-color: var(--color-pink);
}


@media screen and (min-width: 2000px) {
  .app__team-teamcardContainer {
    grid-gap: 5rem;
  }

  .social-icons {
    font-size: 27px;
  }
}