@import url(https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap);

:root {
  --color-white: #ffffff;
  --color-pink: #fd1b5b;
  --color-black: #000000;
  --color-grey: #fcf7f9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: none;
}

body {
  min-height: 100vh;
  display: block;
}
